// Font variables
$font-primary: 'interstate condensed', sans-serif;
$font-mono: "adapter-mono-pe-variable", sans-serif;

$font-weight-light: 400;
$font-weight-normal: 500;

// Color variables
$color-bg: #000000;
$color-text-primary: hsl(0,0,90%);
$color-text-secondary: #666666;
$color-text-muted: #999999;
$mono-size: 1.14rem;

:export {
  fontPrimary: $font-primary;
  fontMono: $font-mono;
  fontWeightLight: $font-weight-light;
  fontWeightNormal: $font-weight-normal;
  colorBg: $color-bg;
  colorTextPrimary: $color-text-primary;
  colorTextSecondary: $color-text-secondary;
  colorTextMuted: $color-text-muted;
}
